In [1]:
import numpy as np
import pandas as pd

In [23]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [24]:
print(train.shape)
train.head()

(80402, 6)

  application_date  segment  branch_id        state  zone  case_count
0       2017-04-01        1        1.0  WEST BENGAL  EAST        40.0
1       2017-04-03        1        1.0  WEST BENGAL  EAST         5.0
2       2017-04-04        1        1.0  WEST BENGAL  EAST         4.0
3       2017-04-05        1        1.0  WEST BENGAL  EAST       113.0
4       2017-04-07        1        1.0  WEST BENGAL  EAST        76.0

In [25]:
y = train['case_count']
train.drop('case_count', axis=1, inplace=True)

In [ ]:
import datetime
# Some data engineering on datetime
for i in range(len(train)):
    o_date  = train['application_date'][i]
    date = datetime.datetime.strptime(o_date, '%Y-%m-%d')
    dt = date.isocalendar()
    train['year'][i] = dt[0]
    train['month'][i] = date.month
    train['day'][i] = date.day
    train['week'][i] = dt[1]
    if dt[2] == 5 or dt[2] == 6:
        train['weekend'][i] = 1
    else:
        train['weekend'][i] = 0
train.head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
for each in train.columns:
    print("Unique feature in {} is {}".format(each, train[each].nunique()))

Unique feature in application_date is 844
Unique feature in segment is 2
Unique feature in branch_id is 83
Unique feature in state is 20
Unique feature in zone is 5
Unique feature in Year is 1
Unique feature in Month is 1
Unique feature in Day is 1

In [4]:
train.isnull().sum()

application_date        0
segment                 0
branch_id           13504
state                   0
zone                13504
case_count              0
dtype: int64

In [7]:
test.head()

   id application_date  segment
0   1       2019-07-06        1
1   2       2019-07-07        1
2   3       2019-07-08        1
3   4       2019-07-09        1
4   5       2019-07-10        1