In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
holiday = pd.read_csv('Holiday_calendar.csv')

In [3]:
print(train.shape)
train.head()

(80402, 6)

  application_date  segment  branch_id        state  zone  case_count
0       2017-04-01        1        1.0  WEST BENGAL  EAST        40.0
1       2017-04-03        1        1.0  WEST BENGAL  EAST         5.0
2       2017-04-04        1        1.0  WEST BENGAL  EAST         4.0
3       2017-04-05        1        1.0  WEST BENGAL  EAST       113.0
4       2017-04-07        1        1.0  WEST BENGAL  EAST        76.0

In [4]:
train.drop(['branch_id','state','zone'], axis=1, inplace=True)

In [5]:
train.head()

  application_date  segment  case_count
0       2017-04-01        1        40.0
1       2017-04-03        1         5.0
2       2017-04-04        1         4.0
3       2017-04-05        1       113.0
4       2017-04-07        1        76.0

In [ ]:
# # print(train.state.unique())
# # branch = train.state.unique()
# # for each in branch:
# #     print('for Branch: {} state is: {}'.format(each, train[train['state']==each].branch_id.unique()))

# # ======================================================================
# for i in range(len(train)):
#     state = train['state'][i]
#     if state == 'WEST BENGAL':
#         train['branch_id'][i] = 8.0

#     if state == 'KARNATAKA':
#         train['branch_id'][i] = 13.0
    
#     if state == 'TAMIL NADU':
#         train['branch_id'][i] = 64.0
    
#     if state == 'UTTAR PRADESH':
#         train['branch_id'][i] = 14.0
    
#     if state == 'PUNJAB':
#         train['branch_id'][i] = 62.0
    
#     if state == 'MAHARASHTRA':
#         train['branch_id'][i] = 19.0
    
#     if state == 'ORISSA':
#         train['branch_id'][i] = 48.0
    
#     if state == 'GUJARAT':
#         train['branch_id'][i] = 61.0
    
#     if state == 'ASSAM':
#         train['branch_id'][i] = 65.0
        
#     if state == 'JHARKHAND':
#         train['branch_id'][i] = 104.0
    
#     if state == 'KERALA':
#         train['branch_id'][i] = 82.0
    
#     if state == 'CHHATTISGARH':
#         train['branch_id'][i] = 84.0
    
#     if state == 'BIHAR':
#         train['branch_id'][i] = 159.0
    
#     if state == 'TRIPURA':
#         train['branch_id'][i] = 251.0
    
#     if state == 'MADHYA PRADESH':
#         train['branch_id'][i] = 147.0
    
#     if state == 'HARYANA':
#         train['branch_id'][i] = 271.0

# # ===============================================================
# # zone = train.zone.unique()
# # for each in zone:
# #     print('for each zone: {} state is: {}'.format(each, train[train['zone']==each].state.unique()))

# #     ==============================================================

In [6]:
# east = ['WEST BENGAL', 'UTTAR PRADESH', 'ASSAM', 'UTTARAKHAND', 'BIHAR','TRIPURA','ORISSA']
# north = ['DELHI', 'PUNJAB', 'HARYANA']
# south = ['KARNATAKA', 'TAMIL NADU', 'TELANGANA', 'ANDHRA PRADESH', 'ORISSA', 'JHARKHAND', 'KERALA']
# west = ['MAHARASHTRA', 'GUJARAT']
# central = ['CHHATTISGARH', 'MADHYA PRADESH']
# for i in range(len(train)):
#     state = train['state'][i]
#     if state in east:
#         train['zone'][i] = 'EAST'
    
#     if state in north:
#         train['zone'][i] = 'NORTH'
    
#     if state in south:
#         train['zone'][i] = 'SOUTH'
    
#     if state in west:
#         train['zone'][i] = 'WEST'
    
#     if state in central:
#         train['zone'][i] = 'CENTRAL'

In [6]:
train['year'] = 1
train['month'] = 1
train['day'] = 1
train['week'] = 1
train['weekend'] = 1
train['holiday'] = 0
import datetime
# Some data engineering on datetime
for i in range(len(train)):
    o_date  = train['application_date'][i]
    date = datetime.datetime.strptime(o_date, '%Y-%m-%d')
    dt = date.isocalendar()
    train['year'][i] = dt[0]
    train['month'][i] = date.month
    train['day'][i] = date.day
    train['week'][i] = dt[1]
    if dt[2] == 5 or dt[2] == 6:
        train['weekend'][i] = 1
    else:
        train['weekend'][i] = 0
    for j in range(len(holiday)):
        holi_date = holiday['Date'][j]
        if(o_date == holi_date):
            train['holiday'][i]=1

c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
# train.to_csv('new_train.csv',index=False)
train.head()
# print(train.shape)
# print(y.shape)

,application_date,segment,case_count,year,month,day,week,weekend,holiday
0,2017-04-01,1,40.0,2017,4,1,13,1,0
1,2017-04-03,1,5.0,2017,4,3,14,0,0
2,2017-04-04,1,4.0,2017,4,4,14,0,0
3,2017-04-05,1,113.0,2017,4,5,14,0,1
4,2017-04-07,1,76.0,2017,4,7,14,1,0

In [8]:
app = dict(train['application_date'].value_counts(normalize=True)*1000)
segment = dict(train['segment'].value_counts(normalize=True))
year = dict(train['year'].value_counts(normalize=True))
month = dict(train['month'].value_counts(normalize=True)*10)
day = dict(train['day'].value_counts(normalize=True)*10)
week_ = dict(train['week'].value_counts(normalize=True)*10)
weekend_ = dict(train['weekend'].value_counts(normalize=True))
holi = dict(train['holiday'].value_counts(normalize=True))

In [9]:
for k,v in app.items():
    train['application_date'].replace(k,v, inplace=True)

for k,v in segment.items():
    train['segment'].replace(k,v, inplace=True)

for k,v in year.items():
    train['year'].replace(k,v, inplace=True)

for k,v in month.items():
    train['month'].replace(k,v, inplace=True)

for k,v in day.items():
    train['day'].replace(k,v, inplace=True)

for k,v in week_.items():
    train['week'].replace(k,v, inplace=True)

for k,v in weekend_.items():
    train['weekend'].replace(k,v, inplace=True)

for k,v in holi.items():
    train['holiday'].replace(k,v, inplace=True)

In [10]:
y = train.iloc[ :,2].values
train.drop(['case_count'],axis=1, inplace=True)

In [11]:
x = train.iloc[ : , : ].values

In [46]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [12]:
# from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

# clf = RandomForestRegressor()
# clf.fit(x_train, y_train)
# y_pred = clf.predict(x_test)

# =============================== Gradient Boost regressor and XGBoost 
# gbr = GradientBoostingRegressor()
# gbr.fit(x_train, y_train)
# y_pred = gbr.predict(x_test)

In [13]:
import xgboost as xgb

xgb = xgb.XGBRegressor()
xgb.fit(x_train, y_train)
y_pred = xgb.predict(x_test)

[16:03:40] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [14]:
# y_pred.shape
# mean_absolute_percentage_error(y_test, y_pred)
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

177.21291850491784

In [15]:
import copy
submission = copy.deepcopy(test)

In [16]:
test.drop('id', axis=1, inplace=True)

In [17]:
test['year'] = 1
test['month'] = 1
test['day'] = 1
test['week'] = 1
test['weekend'] = 1
test['holiday'] = 0
import datetime
# Some data engineering on datetime
for i in range(len(test)):
    o_date  = test['application_date'][i]
    date = datetime.datetime.strptime(o_date, '%Y-%m-%d')
    dt = date.isocalendar()
    test['year'][i] = dt[0]
    test['month'][i] = date.month
    test['day'][i] = date.day
    test['week'][i] = dt[1]
    if dt[2] == 5 or dt[2] == 6:
        test['weekend'][i] = 1
    else:
        test['weekend'][i] = 0
    for j in range(len(holiday)):
        holi_date = holiday['Date'][j]
        if(o_date == holi_date):
            test['holiday'][i]=1
test.head()

c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\navneet.a.arya\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  application_date  segment  year  month  day  week  weekend  holiday
0       2019-07-06        1  2019      7    6    27        1        0
1       2019-07-07        1  2019      7    7    27        0        0
2       2019-07-08        1  2019      7    8    28        0        0
3       2019-07-09        1  2019      7    9    28        0        0
4       2019-07-10        1  2019      7   10    28        0        0

In [18]:
app = dict(test['application_date'].value_counts(normalize=True)*1000)
segment = dict(test['segment'].value_counts(normalize=True))
year = dict(test['year'].value_counts(normalize=True))
month = dict(test['month'].value_counts(normalize=True)*10)
day = dict(test['day'].value_counts(normalize=True)*10)
week_ = dict(test['week'].value_counts(normalize=True)*10)
weekend_ = dict(test['weekend'].value_counts(normalize=True))
holi = dict(test['holiday'].value_counts(normalize=True))

In [19]:
for k,v in app.items():
    test['application_date'].replace(k,v, inplace=True)

for k,v in segment.items():
    test['segment'].replace(k,v, inplace=True)

for k,v in year.items():
    test['year'].replace(k,v, inplace=True)

for k,v in month.items():
    test['month'].replace(k,v, inplace=True)

for k,v in day.items():
    test['day'].replace(k,v, inplace=True)

for k,v in week_.items():
    test['week'].replace(k,v, inplace=True)

for k,v in weekend_.items():
    test['weekend'].replace(k,v, inplace=True)

for k,v in holi.items():
    test['holiday'].replace(k,v, inplace=True)

In [31]:
# col =['segment', 'year', 'month', 'day', 'week', 'weekend', 'holiday']
# for each in col:
#     col_dic = train[each].value_counts(normalize=True)
#     for k, v in col_dic.items():
#         test[each].replace(k, v, inplace=True)
# test.drop('application_date', axis=1, inplace=True)

In [21]:
test.head()

,application_date,segment,year,month,day,week,weekend,holiday
0,5.555556,0.483333,1,1.888889,0.333333,0.111111,0.283333,0.922222
1,5.555556,0.483333,1,1.888889,0.333333,0.111111,0.716667,0.922222
2,5.555556,0.483333,1,1.888889,0.333333,0.388889,0.716667,0.922222
3,5.555556,0.483333,1,1.888889,0.333333,0.388889,0.716667,0.922222
4,5.555556,0.483333,1,1.888889,0.333333,0.388889,0.716667,0.922222

In [22]:
train.head()

,application_date,segment,year,month,day,week,weekend,holiday
0,1.231313,0.832044,0.322094,1.046243,0.334444,0.186687,0.285391,0.931681
1,1.231313,0.832044,0.322094,1.046243,0.324121,0.227606,0.714609,0.931681
2,1.231313,0.832044,0.322094,1.046243,0.313798,0.227606,0.714609,0.931681
3,1.231313,0.832044,0.322094,1.046243,0.344768,0.227606,0.714609,0.068319
4,1.231313,0.832044,0.322094,1.046243,0.324121,0.227606,0.285391,0.931681

In [25]:
test1 = test.iloc[:,:].values
y_pred = xgb.predict(test1)
# gbr.predict(test)
# clf.predict(test)

In [26]:
submission['case_count'] = y_pred
submission.to_csv('xgb.csv',index=False)

In [93]:
# # train.drop(['branch_id','state','zone'], axis=1, inplace=True)
# from sklearn.preprocessing import LabelEncoder
# # train.drop('application_date',axis=1, inplace=True)
# le = LabelEncoder()
# train['state'] = le.fit_transform(train['state'])
# train['zone'] = le.fit_transform(train['zone'])

In [111]:
len(y)
np.unique()
value_counts(normalize=True)

80402

In [22]:
# col =['segment', 'year', 'month', 'day', 'week', 'weekend', 'holiday']
# for each in col:
#     col_dic = train[each].value_counts(normalize=True)
#     for k, v in col_dic.items():
#         train[each].replace(k, v, inplace=True)